.search_box input[type="text"] {
    width: 74%;
    height: 36px;
    padding: 10px 8px;
    outline: none;
    border: none;
    background: none;
    font-size: 14px;
    color: #a5a5a5;
    /* font-family: Arial; */
    outline: none;
    margin: 0;
}
    .search_box input[type="submit"] {
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
    padding: 10px 15px;
    height: 36px;
    margin: 0;
    background: -webkit-gradient(linear,right top,right bottom,from(#ff8a3b),to(#ff0000));
    background: -moz-linear-gradient(top,#ff8a3b,#ff0000);
    background: -o-linear-gradient(top,#ff8a3b,#ff0000);
    background: -ms-linear-gradient(top,#ff8a3b,#ff0000);
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
    position: absolute;
    left: 0;
    top: 0;
}
   
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}